# 处理表格

In [2]:
import pandas as pd

In [3]:
df_指标=pd.read_csv("fsnd_zb_meta.tsv",encoding='utf8',sep='\t',keep_default_na=False,na_values='na_rep',index_col=[0])
print('指标数据')
display(df_指标)

df_地区=pd.read_csv("reg_treeId_level2.tsv",encoding='utf8',sep='\t',keep_default_na=False,na_values='na_rep')
print('地区数据')
display(df_地区)

df_总数据=pd.read_csv("fsnd_zb_data.tsv",encoding='utf8',sep='\t',keep_default_na=False,na_values='na_rep',
                     index_col=[0,1,2])
print('总数据')
display(df_总数据)

指标数据

,cname,dotcount,exp,ifshowcode,memo,name,nodesort,sortcode,tag,unit
code,,,,,,,,,,
A010101,地级区划数,0,指地级行政单位即介于省级和县级之间的一级地方行政区域的个数，包括地区、自治州、行政区和盟。,False,,地级区划数,1,2,,个
A010102,地级市数,0,市是省、自治区内人口较集中，政治、经济、文化等方面较重要的城市。市人民政府为一级地方行政组织...,False,,地级市数,1,3,,个
A010103,县级区划数,0,县级行政单位指中国地方二级行政区域，是地方政权的基础。县级行政单位包括县、自治县、旗、自治旗...,False,,县级区划数,1,4,,个
A010104,市辖区数,0,市辖区（简称区）城市基层政权组织的行政区域。直辖市和较大的市多将市区范围划分为若干区，设立区...,False,,市辖区数,1,5,,个
A010105,县级市数,0,县级市是中国大陆行政区划名称，行政地位与县相同的县级行政区,False,,县级市数,1,6,,个
...,...,...,...,...,...,...,...,...,...,...
A0S0B01,城乡居民社会养老保险参保人数,1,,False,,城乡居民社会养老保险参保人数,1,3355,,万人
A0S0B02,城乡居民社会养老保险实际领取待遇人数,1,,False,,城乡居民社会养老保险实际领取待遇人数,1,3356,,万人
A0S0B03,城乡居民社会养老保险基金收入,1,,False,,城乡居民社会养老保险基金收入,1,3357,,亿元
A0S0B04,城乡居民社会养老保险基金支出,1,,False,,城乡居民社会养老保险基金支出,1,3358,,亿元
A0S0B05,城乡居民社会养老保险累计结余,1,,False,,城乡居民社会养老保险累计结余,1,3359,,亿元

地区数据

      i dbcode exp      id  isParent      name   open     pid   wd
0     0   fsnd      110000      True       北京市  False  100001  reg
1     1   fsnd      120000      True       天津市  False  100001  reg
2     2   fsnd      130000      True       河北省  False  100001  reg
3     3   fsnd      140000      True       山西省  False  100001  reg
4     4   fsnd      150000      True    内蒙古自治区  False  100001  reg
..   ..    ...  ..     ...       ...       ...    ...     ...  ...
128   7   fsnd      610000      True       陕西省  False  900003  reg
129   8   fsnd      620000      True       甘肃省  False  900003  reg
130   9   fsnd      630000      True       青海省  False  900003  reg
131  10   fsnd      640000      True   宁夏回族自治区  False  900003  reg
132  11   fsnd      650000      True  新疆维吾尔自治区  False  900003  reg

[133 rows x 9 columns]

总数据

                          data
zb      reg    sj
A010101 110000 2018        NaN
               2017        NaN
               2016        NaN
               2015        NaN
               2014        NaN
...                        ...
A0S0B05 650000 2013  33.856600
               2012  24.914044
               2011        NaN
               2010        NaN
               2009        NaN

[908300 rows x 1 columns]

In [4]:
指标字典=df_指标['cname'].to_dict()
# display(指标字典)
地区字典=df_地区.set_index('id')['name'].to_dict()
# display(地区字典)

In [7]:
# 通过修改索引，替换表格中的“代号”为前面创建的字典内容。
df1=df_总数据.reset_index().set_index('zb').rename(指标字典)
# df1
df2=df1.reset_index().set_index('reg').rename(地区字典)
# df2

# 修改表头，使更直观
df_待筛选=df2.reset_index().rename(columns={'reg':'地区','zb':'指标','sj':'年','data':'数据'})
df_待筛选

              地区              指标     年         数据
0            北京市           地级区划数  2018        NaN
1            北京市           地级区划数  2017        NaN
2            北京市           地级区划数  2016        NaN
3            北京市           地级区划数  2015        NaN
4            北京市           地级区划数  2014        NaN
...          ...             ...   ...        ...
908295  新疆维吾尔自治区  城乡居民社会养老保险累计结余  2013  33.856600
908296  新疆维吾尔自治区  城乡居民社会养老保险累计结余  2012  24.914044
908297  新疆维吾尔自治区  城乡居民社会养老保险累计结余  2011        NaN
908298  新疆维吾尔自治区  城乡居民社会养老保险累计结余  2010        NaN
908299  新疆维吾尔自治区  城乡居民社会养老保险累计结余  2009        NaN

[908300 rows x 4 columns]

# 数据切片

In [8]:
# 通过str.contains()进行字符串的筛选。
df_筛选 = df_待筛选[df_待筛选.指标.str.contains("城镇单位就业人员")]
df_筛选

             地区                     指标     年          数据
19530       北京市               城镇单位就业人员  2018         NaN
19531       北京市               城镇单位就业人员  2017    812.8589
19532       北京市               城镇单位就业人员  2016    791.5197
19533       北京市               城镇单位就业人员  2015    777.3448
19534       北京市               城镇单位就业人员  2014    755.8601
...         ...                    ...   ...         ...
56725  新疆维吾尔自治区  公共管理和社会组织城镇单位就业人员平均工资  2013  46636.0000
56726  新疆维吾尔自治区  公共管理和社会组织城镇单位就业人员平均工资  2012  45071.0000
56727  新疆维吾尔自治区  公共管理和社会组织城镇单位就业人员平均工资  2011  39862.0000
56728  新疆维吾尔自治区  公共管理和社会组织城镇单位就业人员平均工资  2010  35950.0000
56729  新疆维吾尔自治区  公共管理和社会组织城镇单位就业人员平均工资  2009  31217.0000

[22940 rows x 4 columns]

In [10]:
# 将"国有城镇单位就业人员工资总额"为行索引，进行对想要的数据进行筛选查看。
df_城镇工资总=df_待筛选.set_index("指标").loc["国有城镇单位就业人员工资总额","年":"数据"]
df_城镇工资总

                   年          数据
指标
国有城镇单位就业人员工资总额  2018         NaN
国有城镇单位就业人员工资总额  2017  2663.84409
国有城镇单位就业人员工资总额  2016  2350.74965
国有城镇单位就业人员工资总额  2015  2106.60123
国有城镇单位就业人员工资总额  2014  1932.38647
...              ...         ...
国有城镇单位就业人员工资总额  2013   928.67688
国有城镇单位就业人员工资总额  2012   864.53594
国有城镇单位就业人员工资总额  2011   709.78884
国有城镇单位就业人员工资总额  2010   577.50000
国有城镇单位就业人员工资总额  2009   489.92515

[310 rows x 2 columns]

In [11]:
# 查看所有指标(   .unique()查看唯一值。   )
所有指标 = df_筛选.指标.unique()
所有指标

array(['城镇单位就业人员', '农林牧渔业城镇单位就业人员', '采矿业城镇单位就业人员', '制造业城镇单位就业人员',
       '电力、燃气及水的生产和供应业城镇单位就业人员', '建筑业城镇单位就业人员', '交通运输、仓储及邮电通信业城镇单位就业人员',
       '信息传输、计算机服务和软件业城镇单位就业人员', '批发和零售业城镇单位就业人员', '住宿和餐饮业城镇单位就业人员',
       '金融业城镇单位就业人员', '房地产业城镇单位就业人员', '租赁和商务服务业城镇单位就业人员',
       '科学研究、技术服务和地质勘查业城镇单位就业人员', '水利、环境和公共设施管理业城镇单位就业人员',
       '居民服务和其他服务业城镇单位就业人员', '教育业城镇单位就业人员', '卫生、社会保障和社会福利业城镇单位就业人员',
       '文化、体育和娱乐业城镇单位就业人员', '公共管理和社会组织城镇单位就业人员', '城镇单位就业人员工资总额',
       '国有城镇单位就业人员工资总额', '其他城镇单位就业人员工资总额', '城镇单位就业人员工资总额指数(上年=100)',
       '国有城镇单位就业人员工资总额指数(上年=100)', '其他城镇单位就业人员工资总额指数(上年=100)',
       '城镇单位就业人员平均工资', '城镇单位就业人员平均货币工资指数(上年=100)',
       '国有城镇单位就业人员平均货币工资指数(上年=100)', '其他城镇单位就业人员平均货币工资指数(上年=100)',
       '城镇单位就业人员平均实际工资指数(上年=100)', '国有城镇单位就业人员平均实际工资指数(上年=100)',
       '其他城镇单位就业人员平均实际工资指数(上年=100)', '农、林、牧、渔业城镇单位就业人员工资总额',
       '采矿业城镇单位就业人员工资总额', '制造业城镇单位就业人员工资总额', '电力、燃气及水的生产和供应业城镇单位就业人员工资总额',
       '建筑业城镇单位就业人员工资总额', '交通运输、仓储和邮政业城镇单位就业人员工资总额',
       '信息传输、计算机服务和软件业城镇单位就业人员工资总额', '批发和零售业城镇单位就业人员工资总额',
       '住宿和餐饮业城镇单位就业人员工资总额', '金融业城镇单位就业人员工资总额', '房地产业城镇单位就业人员工资总额',
       '租赁和商务服务业城镇单位就业人员工资总额', '科学研究、技术服务和地质勘查业城镇单位就业人员工资总额',
       '水利、环境和公共设施管理业城镇单位就业人员工资总额', '居民服务和其他服务业城镇单位就业人员工资总额',
       '教育城镇单位就业人员工资总额', '卫生、社会保障和社会福利业城镇单位就业人员工资总额',
       '文化、体育和娱乐业城镇单位就业人员工资总额', '公共管理和社会组织城镇单位就业人员工资总额',
       '农、林、牧、渔业城镇单位就业人员平均工资', '采矿业城镇单位就业人员平均工资', '制造业城镇单位就业人员平均工资',
       '电力、燃气及水的生产和供应业城镇单位就业人员平均工资', '建筑业城镇单位就业人员平均工资',
       '交通运输、仓储和邮政业城镇单位就业人员平均工资', '信息传输、计算机服务和软件业城镇单位就业人员平均工资',
       '批发和零售业城镇单位就业人员平均工资', '住宿和餐饮业城镇单位就业人员平均工资', '金融业城镇单位就业人员平均工资',
       '房地产业城镇单位就业人员平均工资', '租赁和商务服务业城镇单位就业人员平均工资',
       '科学研究、技术服务和地质勘查业城镇单位就业人员平均工资', '水利、环境和公共设施管理业城镇单位就业人员平均工资',
       '居民服务和其他服务业城镇单位就业人员平均工资', '教育城镇单位就业人员平均工资',
       '卫生、社会保障和社会福利业城镇单位就业人员平均工资', '文化、体育和娱乐业城镇单位就业人员平均工资',
       '公共管理和社会组织城镇单位就业人员平均工资'], dtype=object)

In [21]:
# 将所有指标（字符）根据”城镇单位就业“进行拆分切片

# 推导式拆分
# 所有指标_拆分=[]
# for i in 所有指标:
#     暂存=i.split("城镇单位就业")
#     所有指标_拆分.append(暂存)
# print(所有指标_拆分)

所有指标_拆分 = [x.split("城镇单位就业") for x in 所有指标]
所有指标_拆分

[['', '人员'],
 ['农林牧渔业', '人员'],
 ['采矿业', '人员'],
 ['制造业', '人员'],
 ['电力、燃气及水的生产和供应业', '人员'],
 ['建筑业', '人员'],
 ['交通运输、仓储及邮电通信业', '人员'],
 ['信息传输、计算机服务和软件业', '人员'],
 ['批发和零售业', '人员'],
 ['住宿和餐饮业', '人员'],
 ['金融业', '人员'],
 ['房地产业', '人员'],
 ['租赁和商务服务业', '人员'],
 ['科学研究、技术服务和地质勘查业', '人员'],
 ['水利、环境和公共设施管理业', '人员'],
 ['居民服务和其他服务业', '人员'],
 ['教育业', '人员'],
 ['卫生、社会保障和社会福利业', '人员'],
 ['文化、体育和娱乐业', '人员'],
 ['公共管理和社会组织', '人员'],
 ['', '人员工资总额'],
 ['国有', '人员工资总额'],
 ['其他', '人员工资总额'],
 ['', '人员工资总额指数(上年=100)'],
 ['国有', '人员工资总额指数(上年=100)'],
 ['其他', '人员工资总额指数(上年=100)'],
 ['', '人员平均工资'],
 ['', '人员平均货币工资指数(上年=100)'],
 ['国有', '人员平均货币工资指数(上年=100)'],
 ['其他', '人员平均货币工资指数(上年=100)'],
 ['', '人员平均实际工资指数(上年=100)'],
 ['国有', '人员平均实际工资指数(上年=100)'],
 ['其他', '人员平均实际工资指数(上年=100)'],
 ['农、林、牧、渔业', '人员工资总额'],
 ['采矿业', '人员工资总额'],
 ['制造业', '人员工资总额'],
 ['电力、燃气及水的生产和供应业', '人员工资总额'],
 ['建筑业', '人员工资总额'],
 ['交通运输、仓储和邮政业', '人员工资总额'],
 ['信息传输、计算机服务和软件业', '人员工资总额'],
 ['批发和零售业', '人员工资总额'],
 ['住宿和餐饮业', '人员工资总额'],
 ['金融业', '人员工资总额'],
 ['房地产业', '人员工资总额'],
 ['租赁和商务服务业', '人员工资总额'],
 ['科学研究、技术服务和地质勘查业', '人员工资总额'],
 ['水利、环境和公共设施管理业', '人员工资总额'],
 ['居民服务和其他服务业', '人员工资总额'],
 ['教育', '人员工资总额'],
 ['卫生、社会保障和社会福利业', '人员工资总额'],
 ['文化、体育和娱乐业', '人员工资总额'],
 ['公共管理和社会组织', '人员工资总额'],
 ['农、林、牧、渔业', '人员平均工资'],
 ['采矿业', '人员平均工资'],
 ['制造业', '人员平均工资'],
 ['电力、燃气及水的生产和供应业', '人员平均工资'],
 ['建筑业', '人员平均工资'],
 ['交通运输、仓储和邮政业', '人员平均工资'],
 ['信息传输、计算机服务和软件业', '人员平均工资'],
 ['批发和零售业', '人员平均工资'],
 ['住宿和餐饮业', '人员平均工资'],
 ['金融业', '人员平均工资'],
 ['房地产业', '人员平均工资'],
 ['租赁和商务服务业', '人员平均工资'],
 ['科学研究、技术服务和地质勘查业', '人员平均工资'],
 ['水利、环境和公共设施管理业', '人员平均工资'],
 ['居民服务和其他服务业', '人员平均工资'],
 ['教育', '人员平均工资'],
 ['卫生、社会保障和社会福利业', '人员平均工资'],
 ['文化、体育和娱乐业', '人员平均工资'],
 ['公共管理和社会组织', '人员平均工资']]

In [29]:
# 取 “人员” 和“人员平均工资”


# 推导式拆分
# x暂存=[]
# y暂存=[]

# for (x,y) in 所有指标_拆分:
#     if (y=='人员平均工资' or y=='人员') and x != '':
#         x暂存.append(x)
#         y暂存.append(y)
# 人员和工资指标=[x暂存,y暂存]
# 人员和工资指标



人员和工资指标 = [[x,y] for (x,y) in 所有指标_拆分 if (y=='人员平均工资' or y=='人员') and x != '']
人员和工资指标

[['农林牧渔业', '人员'],
 ['采矿业', '人员'],
 ['制造业', '人员'],
 ['电力、燃气及水的生产和供应业', '人员'],
 ['建筑业', '人员'],
 ['交通运输、仓储及邮电通信业', '人员'],
 ['信息传输、计算机服务和软件业', '人员'],
 ['批发和零售业', '人员'],
 ['住宿和餐饮业', '人员'],
 ['金融业', '人员'],
 ['房地产业', '人员'],
 ['租赁和商务服务业', '人员'],
 ['科学研究、技术服务和地质勘查业', '人员'],
 ['水利、环境和公共设施管理业', '人员'],
 ['居民服务和其他服务业', '人员'],
 ['教育业', '人员'],
 ['卫生、社会保障和社会福利业', '人员'],
 ['文化、体育和娱乐业', '人员'],
 ['公共管理和社会组织', '人员'],
 ['农、林、牧、渔业', '人员平均工资'],
 ['采矿业', '人员平均工资'],
 ['制造业', '人员平均工资'],
 ['电力、燃气及水的生产和供应业', '人员平均工资'],
 ['建筑业', '人员平均工资'],
 ['交通运输、仓储和邮政业', '人员平均工资'],
 ['信息传输、计算机服务和软件业', '人员平均工资'],
 ['批发和零售业', '人员平均工资'],
 ['住宿和餐饮业', '人员平均工资'],
 ['金融业', '人员平均工资'],
 ['房地产业', '人员平均工资'],
 ['租赁和商务服务业', '人员平均工资'],
 ['科学研究、技术服务和地质勘查业', '人员平均工资'],
 ['水利、环境和公共设施管理业', '人员平均工资'],
 ['居民服务和其他服务业', '人员平均工资'],
 ['教育', '人员平均工资'],
 ['卫生、社会保障和社会福利业', '人员平均工资'],
 ['文化、体育和娱乐业', '人员平均工资'],
 ['公共管理和社会组织', '人员平均工资']]

In [56]:
# 将筛选出来的结果合并拼接

人员和工资指标加城镇就业单位 = ["城镇单位就业".join(x) for x in 人员和工资指标]
人员和工资指标加城镇就业单位

['农林牧渔业城镇单位就业人员',
 '采矿业城镇单位就业人员',
 '制造业城镇单位就业人员',
 '电力、燃气及水的生产和供应业城镇单位就业人员',
 '建筑业城镇单位就业人员',
 '交通运输、仓储及邮电通信业城镇单位就业人员',
 '信息传输、计算机服务和软件业城镇单位就业人员',
 '批发和零售业城镇单位就业人员',
 '住宿和餐饮业城镇单位就业人员',
 '金融业城镇单位就业人员',
 '房地产业城镇单位就业人员',
 '租赁和商务服务业城镇单位就业人员',
 '科学研究、技术服务和地质勘查业城镇单位就业人员',
 '水利、环境和公共设施管理业城镇单位就业人员',
 '居民服务和其他服务业城镇单位就业人员',
 '教育业城镇单位就业人员',
 '卫生、社会保障和社会福利业城镇单位就业人员',
 '文化、体育和娱乐业城镇单位就业人员',
 '公共管理和社会组织城镇单位就业人员',
 '农、林、牧、渔业城镇单位就业人员平均工资',
 '采矿业城镇单位就业人员平均工资',
 '制造业城镇单位就业人员平均工资',
 '电力、燃气及水的生产和供应业城镇单位就业人员平均工资',
 '建筑业城镇单位就业人员平均工资',
 '交通运输、仓储和邮政业城镇单位就业人员平均工资',
 '信息传输、计算机服务和软件业城镇单位就业人员平均工资',
 '批发和零售业城镇单位就业人员平均工资',
 '住宿和餐饮业城镇单位就业人员平均工资',
 '金融业城镇单位就业人员平均工资',
 '房地产业城镇单位就业人员平均工资',
 '租赁和商务服务业城镇单位就业人员平均工资',
 '科学研究、技术服务和地质勘查业城镇单位就业人员平均工资',
 '水利、环境和公共设施管理业城镇单位就业人员平均工资',
 '居民服务和其他服务业城镇单位就业人员平均工资',
 '教育城镇单位就业人员平均工资',
 '卫生、社会保障和社会福利业城镇单位就业人员平均工资',
 '文化、体育和娱乐业城镇单位就业人员平均工资',
 '公共管理和社会组织城镇单位就业人员平均工资']

# 表格处理

In [58]:
# 将指标作为索引，选出 【人员和工资指标加城镇就业单位】列表中的含有的数据行。

df_处理 = df_筛选.set_index("指标").loc[人员和工资指标加城镇就业单位].reset_index()
df_处理

                          指标        地区     年          数据
0              农林牧渔业城镇单位就业人员       北京市  2018         NaN
1              农林牧渔业城镇单位就业人员       北京市  2017      3.4116
2              农林牧渔业城镇单位就业人员       北京市  2016      3.6867
3              农林牧渔业城镇单位就业人员       北京市  2015      3.8949
4              农林牧渔业城镇单位就业人员       北京市  2014      3.2331
...                      ...       ...   ...         ...
11775  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2013  46636.0000
11776  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2012  45071.0000
11777  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2011  39862.0000
11778  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2010  35950.0000
11779  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2009  31217.0000

[11780 rows x 4 columns]

In [59]:
# 对上述数据进行所有统计的分析
df_处理.describe(include="all")

                       指标     地区             年             数据
count               11780  11780  11780.000000   10591.000000
unique                 38     31           NaN            NaN
top     公共管理和社会组织城镇单位就业人员    上海市           NaN            NaN
freq                  310    380           NaN            NaN
mean                  NaN    NaN   2013.500000   25995.610415
std                   NaN    NaN      2.872403   31837.310363
min                   NaN    NaN   2009.000000       0.024900
25%                   NaN    NaN   2011.000000      11.323850
50%                   NaN    NaN   2013.500000   11478.000000
75%                   NaN    NaN   2016.000000   46218.500000
max                   NaN    NaN   2018.000000  253637.000000

In [71]:
# 以“指标”分组，再加上“数据”进行查看
df_处理.groupby(by="指标").agg({"数据":["min","max","mean"]}).rename(columns={'min':'最小值','max':'最大值','mean':'平均值'}) #.head()

                                     数据
                                    最小值          最大值           平均值
指标
交通运输、仓储及邮电通信业城镇单位就业人员            0.5997      85.3999     24.556320
交通运输、仓储和邮政业城镇单位就业人员平均工资      25098.0000  116763.0000  56241.240143
住宿和餐饮业城镇单位就业人员                   0.3000      39.3419      8.331891
住宿和餐饮业城镇单位就业人员平均工资           13455.0000   61095.0000  31198.731183
信息传输、计算机服务和软件业城镇单位就业人员           0.2235      77.4400      9.204604
信息传输、计算机服务和软件业城镇单位就业人员平均工资   22186.0000  212063.0000  72507.896057
公共管理和社会组织城镇单位就业人员                7.8169     116.1762     50.301842
公共管理和社会组织城镇单位就业人员平均工资        25275.0000  128855.0000  55019.594982
农、林、牧、渔业城镇单位就业人员平均工资          8832.0000   74975.0000  30661.906810
农林牧渔业城镇单位就业人员                    0.3089      93.9292     10.091744
制造业城镇单位就业人员                      0.6612    1020.2491    145.443355
制造业城镇单位就业人员平均工资              21508.0000  106835.0000  45198.247312
卫生、社会保障和社会福利业城镇单位就业人员            1.3830      65.8223     24.421601
卫生、社会保障和社会福利业城镇单位就业人员平均工资    22302.0000  169191.0000  59073.053763
居民服务和其他服务业城镇单位就业人员               0.0557      11.0436      2.277055
居民服务和其他服务业城镇单位就业人员平均工资       16022.0000   67013.0000  35929.476703
建筑业城镇单位就业人员                      0.5018     450.1977     72.355329
建筑业城镇单位就业人员平均工资              16423.0000   99718.0000  40809.896057
房地产业城镇单位就业人员                     0.0249      66.3147     10.849628
房地产业城镇单位就业人员平均工资             15938.0000  120379.0000  45288.530466
批发和零售业城镇单位就业人员                   0.4833     102.7835     24.356891
批发和零售业城镇单位就业人员平均工资           16073.0000  139627.0000  44120.035842
教育业城镇单位就业人员                      3.9384     127.4604     53.813387
教育城镇单位就业人员平均工资               26175.0000  143215.0000  57414.487455
文化、体育和娱乐业城镇单位就业人员                0.5999      19.0189      4.581411
文化、体育和娱乐业城镇单位就业人员平均工资        22377.0000  150810.0000  54176.698925
水利、环境和公共设施管理业城镇单位就业人员            0.1636      18.2523      8.022701
水利、环境和公共设施管理业城镇单位就业人员平均工资    15831.0000   95341.0000  36995.433692
电力、燃气及水的生产和供应业城镇单位就业人员           0.7362      32.1821     11.707497
电力、燃气及水的生产和供应业城镇单位就业人员平均工资   29419.0000  174252.0000  67744.182796
科学研究、技术服务和地质勘查业城镇单位就业人员          0.6790      71.2481     11.614666
科学研究、技术服务和地质勘查业城镇单位就业人员平均工资  26211.0000  176383.0000  66216.186380
租赁和商务服务业城镇单位就业人员                 0.1000      88.2695     12.672472
租赁和商务服务业城镇单位就业人员平均工资         16691.0000  156621.0000  43966.784946
采矿业城镇单位就业人员                      0.0523     103.0136     18.220504
采矿业城镇单位就业人员平均工资              22732.0000  144454.0000  56747.756272
金融业城镇单位就业人员                      0.7717      54.4498     17.982375
金融业城镇单位就业人员平均工资              30627.0000  253637.0000  86977.516129

In [69]:
# 多层次数据分析
# 以“指标”中的“城镇就业单位”进行切片操作，分别去前后的值（各行业&指标），并增加列【行业】&【行业指标】

df_处理["行业"] = [x.split("城镇单位就业")[0] for x in df_处理.指标] # 
df_处理["行业指标"] = [x.split("城镇单位就业")[1] for x in df_处理.指标]
df_处理

                          指标        地区     年          数据         行业    行业指标
0              农林牧渔业城镇单位就业人员       北京市  2018         NaN      农林牧渔业      人员
1              农林牧渔业城镇单位就业人员       北京市  2017      3.4116      农林牧渔业      人员
2              农林牧渔业城镇单位就业人员       北京市  2016      3.6867      农林牧渔业      人员
3              农林牧渔业城镇单位就业人员       北京市  2015      3.8949      农林牧渔业      人员
4              农林牧渔业城镇单位就业人员       北京市  2014      3.2331      农林牧渔业      人员
...                      ...       ...   ...         ...        ...     ...
11775  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2013  46636.0000  公共管理和社会组织  人员平均工资
11776  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2012  45071.0000  公共管理和社会组织  人员平均工资
11777  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2011  39862.0000  公共管理和社会组织  人员平均工资
11778  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2010  35950.0000  公共管理和社会组织  人员平均工资
11779  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2009  31217.0000  公共管理和社会组织  人员平均工资

[11780 rows x 6 columns]

In [90]:
# 分别以"地区","行业","行业指标"来分组。

df_处理.groupby(["地区","行业","行业指标"]).agg({"数据":["min","max","mean"]}).rename(columns={'min':'最小值','max':'最大值','mean':'平均值'})

                                    数据
                                   最小值          最大值           平均值
地区   行业             行业指标
上海市  交通运输、仓储及邮电通信业  人员         35.6329      51.4541     45.014167
     交通运输、仓储和邮政业    人员平均工资  49847.0000  116763.0000  81817.888889
     住宿和餐饮业         人员         10.8191      25.5494     19.851000
                    人员平均工资  29564.0000   60153.0000  45158.777778
     信息传输、计算机服务和软件业 人员          6.5150      30.7312     17.706767
...                                ...          ...           ...
黑龙江省 租赁和商务服务业       人员平均工资  21157.0000   56493.0000  38601.444444
     采矿业            人员         25.5592      43.4887     36.610556
                    人员平均工资  33417.0000   68926.0000  51564.777778
     金融业            人员         13.4821      22.6548     17.099533
                    人员平均工资  37056.0000   66790.0000  55194.888889

[1178 rows x 3 columns]

In [91]:
# df.query()函数能够对数据框进行（挑选行）的操作（https://www.jianshu.com/p/d174c6ed6d2e）
# 挑选“行业指标”中“人员平均工资”

人员平均工资 = df_处理.query("行业指标=='人员平均工资'")
人员平均工资

                          指标        地区     年       数据         行业    行业指标
5890    农、林、牧、渔业城镇单位就业人员平均工资       北京市  2018      NaN   农、林、牧、渔业  人员平均工资
5891    农、林、牧、渔业城镇单位就业人员平均工资       北京市  2017  55218.0   农、林、牧、渔业  人员平均工资
5892    农、林、牧、渔业城镇单位就业人员平均工资       北京市  2016  51941.0   农、林、牧、渔业  人员平均工资
5893    农、林、牧、渔业城镇单位就业人员平均工资       北京市  2015  50797.0   农、林、牧、渔业  人员平均工资
5894    农、林、牧、渔业城镇单位就业人员平均工资       北京市  2014  49478.0   农、林、牧、渔业  人员平均工资
...                      ...       ...   ...      ...        ...     ...
11775  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2013  46636.0  公共管理和社会组织  人员平均工资
11776  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2012  45071.0  公共管理和社会组织  人员平均工资
11777  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2011  39862.0  公共管理和社会组织  人员平均工资
11778  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2010  35950.0  公共管理和社会组织  人员平均工资
11779  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2009  31217.0  公共管理和社会组织  人员平均工资

[5890 rows x 6 columns]

In [93]:
# 分组（以行业以及地区）

人员平均工资.groupby(["行业","地区"]).agg({"数据":["min","max","mean"]}).sort_values(by=("数据","mean")).rename(columns={'min':'最小值','max':'最大值','mean':'平均值'})

                            数据
                           最小值       最大值            平均值
行业             地区
农、林、牧、渔业       辽宁省      8832.0   17027.0   12813.111111
               河北省     11330.0   23327.0   16067.333333
               黑龙江省    11079.0   30638.0   21949.555556
               西藏自治区   13522.0   41370.0   22214.888889
水利、环境和公共设施管理业  山西省     15831.0   30961.0   23166.111111
...                        ...       ...            ...
金融业            西藏自治区   76650.0  186085.0  133585.222222
信息传输、计算机服务和软件业 北京市    100794.0  183183.0  139098.888889
               上海市    101367.0  212063.0  153913.666667
金融业            上海市    134581.0  247568.0  188385.000000
               北京市    143187.0  253637.0  204188.555556

[589 rows x 3 columns]

In [96]:
# 分组（以地区）

地区分组=人员平均工资.groupby(["地区"]).agg({"数据":["min","max","mean"]}).sort_values(by=("数据","mean"),ascending=False).rename(columns={'min':'最小值','max':'最大值','mean':'平均值'})
地区分组

               数据
              最小值       最大值           平均值
地区
上海市       29564.0  247568.0  95373.456140
北京市       25006.0  253637.0  89086.046784
天津市       20992.0  151778.0  73773.017544
浙江省       22456.0  165532.0  66680.111111
广东省       14469.0  149936.0  63142.736842
江苏省       17904.0  143002.0  61104.783626
西藏自治区     13522.0  186085.0  60094.643275
福建省       15790.0  109757.0  52346.286550
重庆市       17129.0  126739.0  52280.444444
山东省       19568.0   94704.0  50366.672515
新疆维吾尔自治区  16022.0  105881.0  50234.625731
四川省       17748.0  101514.0  49618.280702
青海省       16825.0  100823.0  49264.678363
宁夏回族自治区   15529.0  103768.0  49129.701754
内蒙古自治区    15017.0   85135.0  47498.690058
贵州省       16895.0  141959.0  47309.122807
海南省       10855.0  124017.0  47224.847953
陕西省       16338.0  130891.0  46612.181287
安徽省       13437.0   98235.0  45770.783626
湖北省       15777.0  101551.0  45400.081871
辽宁省        8832.0   91990.0  45122.994152
云南省       14853.0  130774.0  44699.356725
湖南省       14519.0   99320.0  43279.467836
广西壮族自治区   15397.0   96818.0  43223.590643
河北省       11330.0  109196.0  42770.233918
黑龙江省      11079.0   73978.0  42505.538012
江西省       15049.0   84304.0  42360.959064
甘肃省       15163.0   85197.0  40974.327485
河南省       15718.0  103314.0  40797.461988
吉林省       13636.0   87154.0  40642.450292
山西省       13455.0   80556.0  40518.602339

In [97]:
行业分组 = 人员平均工资.groupby(["行业"]).agg({"数据":["min","max","mean"]}).rename(columns={'min':'最小值','max':'最大值','mean':'平均值'})
行业分组

                      数据
                     最小值       最大值           平均值
行业
交通运输、仓储和邮政业      25098.0  116763.0  56241.240143
住宿和餐饮业           13455.0   61095.0  31198.731183
信息传输、计算机服务和软件业   22186.0  212063.0  72507.896057
公共管理和社会组织        25275.0  128855.0  55019.594982
农、林、牧、渔业          8832.0   74975.0  30661.906810
制造业              21508.0  106835.0  45198.247312
卫生、社会保障和社会福利业    22302.0  169191.0  59073.053763
居民服务和其他服务业       16022.0   67013.0  35929.476703
建筑业              16423.0   99718.0  40809.896057
房地产业             15938.0  120379.0  45288.530466
批发和零售业           16073.0  139627.0  44120.035842
教育               26175.0  143215.0  57414.487455
文化、体育和娱乐业        22377.0  150810.0  54176.698925
水利、环境和公共设施管理业    15831.0   95341.0  36995.433692
电力、燃气及水的生产和供应业   29419.0  174252.0  67744.182796
科学研究、技术服务和地质勘查业  26211.0  176383.0  66216.186380
租赁和商务服务业         16691.0  156621.0  43966.784946
采矿业              22732.0  144454.0  56747.756272
金融业              30627.0  253637.0  86977.516129

In [101]:
# 将地区分组表以“数据”中的“平均值”进行排序

地区分组.sort_values(by=("数据","平均值"),ascending=False).rename(columns={'min':'最小值','max':'最大值','mean':'平均值'}).head(10)

            数据
           最小值       最大值           平均值
地区
上海市    29564.0  247568.0  95373.456140
北京市    25006.0  253637.0  89086.046784
天津市    20992.0  151778.0  73773.017544
浙江省    22456.0  165532.0  66680.111111
广东省    14469.0  149936.0  63142.736842
江苏省    17904.0  143002.0  61104.783626
西藏自治区  13522.0  186085.0  60094.643275
福建省    15790.0  109757.0  52346.286550
重庆市    17129.0  126739.0  52280.444444
山东省    19568.0   94704.0  50366.672515

In [103]:
# 用"行业","行业指标","地区"来分组

df_处理.groupby(["行业","行业指标","地区"]).agg({"数据":["min","max","mean"]}).rename(columns={'min':'最小值','max':'最大值','mean':'平均值'})

                                     数据
                                    最小值          最大值           平均值
行业            行业指标   地区
交通运输、仓储及邮电通信业 人员     上海市        35.6329      51.4541     45.014167
                     云南省        13.4000      17.8598     15.667100
                     内蒙古自治区     16.2429      22.7777     19.266189
                     北京市        50.0662      60.2262     56.857056
                     吉林省        14.2939      17.1587     15.836233
...                                 ...          ...           ...
金融业           人员平均工资 辽宁省     45038.0000   85433.0000  70013.222222
                     重庆市     49871.0000  126739.0000  95005.666667
                     陕西省     46122.0000   86024.0000  66379.888889
                     青海省     37456.0000   98911.0000  67431.111111
                     黑龙江省    37056.0000   66790.0000  55194.888889

[1178 rows x 3 columns]

# 字符替换

In [105]:
# 将字符简化统一

统一字词 = {"交通运输、仓储及邮电通信业":"交通运输、仓储和邮政业",\
            "交通运输、仓储和邮政业":"交通运输、仓储和邮政业",\
            "农、林、牧、渔业":"农林牧渔业",\
            "教育":"教育业","教育业业":"教育业"}
df_处理2 = df_处理.set_index("行业").rename(index=统一字词).reset_index()
# df_处理2.行业.unique()
df_处理2

              行业                     指标        地区     年          数据    行业指标
0          农林牧渔业          农林牧渔业城镇单位就业人员       北京市  2018         NaN      人员
1          农林牧渔业          农林牧渔业城镇单位就业人员       北京市  2017      3.4116      人员
2          农林牧渔业          农林牧渔业城镇单位就业人员       北京市  2016      3.6867      人员
3          农林牧渔业          农林牧渔业城镇单位就业人员       北京市  2015      3.8949      人员
4          农林牧渔业          农林牧渔业城镇单位就业人员       北京市  2014      3.2331      人员
...          ...                    ...       ...   ...         ...     ...
11775  公共管理和社会组织  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2013  46636.0000  人员平均工资
11776  公共管理和社会组织  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2012  45071.0000  人员平均工资
11777  公共管理和社会组织  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2011  39862.0000  人员平均工资
11778  公共管理和社会组织  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2010  35950.0000  人员平均工资
11779  公共管理和社会组织  公共管理和社会组织城镇单位就业人员平均工资  新疆维吾尔自治区  2009  31217.0000  人员平均工资

[11780 rows x 6 columns]

In [106]:
# 将简化后的字符进行再分组

df_处理2.groupby(["行业","行业指标"]).agg({"数据":["min","max","mean"]}).rename(columns={'min':'最小值','max':'最大值','mean':'平均值'})

                                数据
                               最小值          最大值           平均值
行业              行业指标
交通运输、仓储和邮政业     人员          0.5997      85.3999     24.556320
                人员平均工资  25098.0000  116763.0000  56241.240143
住宿和餐饮业          人员          0.3000      39.3419      8.331891
                人员平均工资  13455.0000   61095.0000  31198.731183
信息传输、计算机服务和软件业  人员          0.2235      77.4400      9.204604
                人员平均工资  22186.0000  212063.0000  72507.896057
公共管理和社会组织       人员          7.8169     116.1762     50.301842
                人员平均工资  25275.0000  128855.0000  55019.594982
农林牧渔业           人员          0.3089      93.9292     10.091744
                人员平均工资   8832.0000   74975.0000  30661.906810
制造业             人员          0.6612    1020.2491    145.443355
                人员平均工资  21508.0000  106835.0000  45198.247312
卫生、社会保障和社会福利业   人员          1.3830      65.8223     24.421601
                人员平均工资  22302.0000  169191.0000  59073.053763
居民服务和其他服务业      人员          0.0557      11.0436      2.277055
                人员平均工资  16022.0000   67013.0000  35929.476703
建筑业             人员          0.5018     450.1977     72.355329
                人员平均工资  16423.0000   99718.0000  40809.896057
房地产业            人员          0.0249      66.3147     10.849628
                人员平均工资  15938.0000  120379.0000  45288.530466
批发和零售业          人员          0.4833     102.7835     24.356891
                人员平均工资  16073.0000  139627.0000  44120.035842
教育业             人员          3.9384     127.4604     53.813387
                人员平均工资  26175.0000  143215.0000  57414.487455
文化、体育和娱乐业       人员          0.5999      19.0189      4.581411
                人员平均工资  22377.0000  150810.0000  54176.698925
水利、环境和公共设施管理业   人员          0.1636      18.2523      8.022701
                人员平均工资  15831.0000   95341.0000  36995.433692
电力、燃气及水的生产和供应业  人员          0.7362      32.1821     11.707497
                人员平均工资  29419.0000  174252.0000  67744.182796
科学研究、技术服务和地质勘查业 人员          0.6790      71.2481     11.614666
                人员平均工资  26211.0000  176383.0000  66216.186380
租赁和商务服务业        人员          0.1000      88.2695     12.672472
                人员平均工资  16691.0000  156621.0000  43966.784946
采矿业             人员          0.0523     103.0136     18.220504
                人员平均工资  22732.0000  144454.0000  56747.756272
金融业             人员          0.7717      54.4498     17.982375
                人员平均工资  30627.0000  253637.0000  86977.516129

# 总结

<b>在本周的课程中，通过对生肉数据进行“代号（字符）替换”、“数据切片”、“表格筛选”、“表格结合”等的操作，最终得到一个优雅且直观的数据表格。也充分认识到pandas在数据处理中的强大，对数据的处理能得到很多结果，这取决于我们怎么去运用pandas对其的操作。好好学习。</b>